@model App.Domain.NutritionalGoal

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NutritionalGoal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalorieTarget)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalorieTarget)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProteinTarget)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProteinTarget)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatTarget)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatTarget)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SugarTarget)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SugarTarget)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarbsTarget)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarbsTarget)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaltTarget)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaltTarget)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Firstname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SysNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SysNotes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
